<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.filip.unibook">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoggedInActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ProfilePageActivity" />
        <activity android:name=".CreateNewAdActivity" />
        <activity android:name=".MyAdsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ChosenAdPageActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ReportAd" />
        <activity android:name=".ListAllProgramsActivity" />
        <activity android:name=".ChosenAdForSale" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ListAllCoursesFromProgramActivity" />

        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.example.filip.unibook" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".MyFavoritesActivity" />
        <activity android:name=".MessengerActivity" />
        <activity android:name=".MyMessagesActivity"></activity>
    </application>

</manifest>